<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="key1" value="Data Source=EPUZTASW0481;Initial Catalog=ADO_NET;Integrated Security=True" />
  </appSettings>
  <connectionStrings>
    <add name="conn1" connectionString="Data Source=EPUZTASW0481;Initial Catalog=ADO_NET;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>